<div class="card">
    <div class="card-header">
        <h1>About Us</h1>
    </div>
    <div class="card-body">
        <p>
            Welcome to CalculatorApp!
            <br>
            <br>
            We provide a powerful and user-friendly calculator app that simplifies complex calculations and allows you to save equations for future reference. With advanced features and a user-friendly interface, CalculatorApp enhances your productivity and ensures accuracy. Our app is available on multiple platforms, prioritizes your privacy, and offers customization options. Join us today and experience the convenience of a reliable calculator with equation saving capabilities.
        </p>
    </div>
</div>