.main {
    margin-bottom: 11%;
}

footer {
    position: fixed;
    height:10%;
    width:100%;
    padding-top: 2px;
    bottom: 0;
}

.charcoal {
    background-color: #465362;
    color: #F4FFFD;
}

.charcoal.btn:hover {
    background-color: #7B8C9A;
}

.charcoal a {
    color: #F4FFFD;
}

.charcoal a:hover {
    color: #7B8C9A;
}

.mint {
    background-color: #D6E3E5;
}

.calc-button {
    margin: 3px;
    min-width: 45px;
    min-height: 10px;
}

.answer {
    display: flex;
    justify-content: flex-end;  
}

.red {
    background-color: #ED254E;
}

.red:hover {
    background-color: #e46b83;
}

.blue {
    background-color: #011936;
    color: #F4FFFD;
}

.blue:hover {
    background-color: #033169;
    color: #F4FFFD;
}

.form-group {
    margin: 10px 0px 10px 0px;
}

.card {
    margin: 2rem;
}
.btn {
    margin: 0.2rem;
}

.alert {
    margin: 0.4rem;
    width: 50%;
}